body {
  padding-top: 70px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
} 

.bs-footer{
  padding-top:32px;
  padding-bottom:80px;
  margin-top:80px;
  color:#777;
  text-align:center;
  border-top:1px solid #e5e5e5;
  background: #fefefe;
}
